{% extends 'admin.base.html.twig' %}


{% block title %} Liste des états{% endblock %}

{% block stylesheets %}{% endblock %}
{% block body %}

    {% include 'admin/partials/navbar.html.twig'%}


    <div class="content-wrapper">
        <div class="container-fluid">
            {% include 'admin/partials/flash.html.twig'%}
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Admin</a>
                </li>
                <li class="breadcrumb-item active">Liste des types d'étas</li>
            </ol>
            <a href="{{ path('admin_etat_add') }}"><button class="btn btn-success">Ajouter un type d'état</button></a>
            <table class="table table-striped" style="margin-top: 5px;">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Type type d'état</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for etat in etats %}
                    <tr>

                        <th scope="col">{{ etat.id }}</th>
                        <th scope="col">{{ etat.etat }}</th>
                        <th scope="col">
                            <a href="{{ path('admin_etat_update', {id: etat.id}) }}">
                                <button class="btn btn-warning">modifier <i class="fa fa-edit"></i></button>
                            </a>
                            <a href="{{ path('admin_etat_delete', {id: etat.id}) }}">
                                <button class="btn btn-danger">supprimer <i class="fa fa-trash"></i></button>
                            </a>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
